---
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
const { title = "My Site" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/logo.png" />

    <script src="/js/project-search.js" defer></script>
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>

